@charset "ISO-8859-1";

body {
	background-color: #efefef;
}

.building {
	padding: 10px;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
}

.activities {
	width: 700px;
	overflow-y: auto;
	border: 2px solid black;
	max-height: 150px;
}

.red {
	color: red;
}

.green {
	color: green;
}